body {
    background-color: white;
}
h1 {
    color: blue;
}
h2 {
    color: rgb(31, 184, 235);
}
p {
    color: red;
}
.navBar {
    color:rgb(31, 184, 235);
    border: 5px outset rgb(191, 248, 58);
    text-align: center;
    float: left;
    width: 100px;
}