/* https://css-tricks.com/dark-modes-with-css/ */
/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_lists */
body {
    background-color: white;
}

/* SITE TITLE */
.siteName {
    color:rgb(0, 0, 0);
    font-family: "Monaco", "Lucida Console", "monospace"; 
}
.siteName:link {
    text-decoration: none;
}
.siteName:visited {
    text-decoration: none;
}
.siteName:hover {
    text-decoration: none;
}
.siteName:active {
    text-decoration: none;
}

.pageName {
    color:rgb(192, 45, 212);
    font-family: "Monaco", "Lucida Console", "monospace";
}
.navBar {
    color:rgb(31, 184, 235);
    font-family: "Monaco", "Lucida Console", "monospace";
    border: 5px inset rgb(41, 202, 252);
    border-radius: 10px;
    text-align: center;
    float: left;
    width: 100px;
}
.postTitle {
    color:rgb(2, 54, 71);
    border-bottom: 5px groove rgb(212, 45, 87);
    font-family: "Monaco", "Lucida Console", "monospace";
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    float: center;
}
.postBody {
    float: center;
    font-family: "Georgia", "serif";
}
.postList {
    width: 50%;
    text-align: center;
    float: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.postList:hover {
    background-color: rgb(165, 217, 235);
}